.game-area {
  width: 640px;
  height: 380px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
}
p {
  color: white;
}
.text-area {
  background-color: gray;
  height: 30%;
  width: 100%;
}